#accomodation-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
	margin-top: 70px;
}

#accomodation-container-right{
	flex: 40%;
	position: relative;
}

#accomodation-bed {
	display: block;
	position: absolute;
	bottom: 124px;
	right: 81px;
	height: auto;
	max-height: 530px;
	width: 570px;
}

/* Left side */
#accomodation-container-left{
	flex: 60%;
	display: flex;
	flex-direction: column;
	background: rgb(65, 95, 87);
	justify-content: center;
	align-items: center;
}

#accomodation-text{
	text-align: center;
	color: rgb(240, 239, 229);
	font-family: 'Libre Baskerville', serif;

}

#accomodation-title {

	margin-right: 25px;
}

.accomodation-sub-text {

	padding: 20px 140px;
	margin-top: 0px;
	margin-right: 25px;
}

.accomodation-sub-text-small {
	font-size: 18px;
	padding: 20px 140px;
	margin-top: 0px;
	margin-right: 25px;
}
