#cocktails-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
	margin-top: 70px;
	background: rgb(65, 95, 87);
}

#cocktails-container-right{
	flex: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#cocktails-drinks {
	display: block;
	position: absolute;
	height: auto;
	max-height: 400px;
	width: auto;
	z-index: 1;
	bottom: 60px;
	left: 276px;
}

#cocktails-champagne {
	display: block;
  position: absolute;
  height: auto;
  /* max-height: 540px; */
  width: 384px;
  left: 46px;
  top: 106px;
}


/* Left side */
#cocktails-container-left{
	flex: 50%;
	display: flex;
	position: relative;
}

#cocktails-text{
	text-align: center;
	color: rgb(240, 239, 229);
	font-family: 'Libre Baskerville', serif;

}

#cocktails-title {

}

.cocktails-sub-text {

	padding: 20px 70px;
	margin-top: 0px;
}
