#practical-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
	margin-top: 70px;
	background: rgb(240, 239, 229);
}

#practical-container-right{
	flex: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Left side */
#practical-container-left{
	flex: 50%;
	display: flex;
	position: relative;
	flex-direction: column;
}
#practical-image {
	flex: 100%;
	background: rgb(65, 95, 87);
}

#practical-ceiling {
	display: block;
	position: absolute;
	height: auto;
	/* max-height: 542px; */
	width: 449px;
	left: 145px;
	bottom: 67px;
}

/* #practical-container-left-bottom {
	flex: 15%;
	background: rgb(240, 239, 229);
}

#practical-container-right-bottom {
	flex: 15%;
	background: rgb(240, 239, 229);
} */

#practical-container-right-top{
	flex: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(65, 95, 87);
}
#practical-text{
	text-align: center;
	color: rgb(240, 239, 229);
	font-family: 'Libre Baskerville', serif;
}

#practical-title {

}

.practical-sub-text {

	padding: 20px 70px;
	margin-top: 0px;
}
/*
@media only screen and (min-width: 1441px) {
	#practical-text{
		left: 235px;
		top: 200px;
	}
}

@media only screen and (max-width: 1024px) {
	#practical-image img{
	  height: auto;
	  max-width: 380px;
		width: auto;
	}
}

@media only screen and (max-width: 375px) {
	#practical-image img{
	  display: none;
	}
} */
