#reception-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
	margin-top: 70px;
}

#reception-container-right{
	flex: 40%;
	position: relative;
}

#statue-head {
	display: block;
	position: absolute;
	bottom: 200px;
	right: 273px;
	height: auto;
	max-height: 530px;
	width: auto;
	z-index: 1;
}

/* Left side */
#reception-container-left{
	flex: 60%;
	display: flex;
	flex-direction: column;
	background: rgb(65, 95, 87);
	justify-content: center;
	align-items: center;
}

#reception-text{
	text-align: center;
	color: rgb(240, 239, 229);
	font-family: 'Libre Baskerville', serif;

}

#title {

}

.reception-sub-text {

	padding: 20px 120px;
	margin-top: 0px;
}
/*
@media only screen and (min-width: 1441px) {
	#reception-text{
		left: 235px;
		top: 200px;
	}

	#reception-image img{
	  height: auto;
		max-height: 600px;
		width: auto;
	}
}

@media only screen and (max-width: 1024px) {
	#reception-image img{
	  height: auto;
	  max-width: 380px;
		width: auto;
	}
}

@media only screen and (max-width: 375px) {
	#reception-image img{
	  display: none;
	}
} */
