
#tucker-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
}

#tucker-container-right{
	flex: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#tucker-container-right-top{
	flex-basis: 30%;
}

#tucker-container-left-top{
	flex-basis: 15%;
}

#tucker-container-left-bottom{
	flex-basis: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#tucker-container-right-bottom{
	background: rgb(65, 95, 87);
	position: relative;
	flex-basis: 70%;
	display: block;
}

#table-flower {
	display: block;
	position: absolute;
	bottom: 80px;
	right: 40px;
	height: auto;
	max-height: 670px;
	width: 450px;
}


/* Left side */
#tucker-container-left{
	flex: 50%;
	display: flex;
	flex-direction: column;
}

#tucker-text{
	text-align: center;
	color: black;
	font-family: 'Libre Baskerville', serif;

}

#tucker-title {
	
}

.tucker-sub-text {
	
	padding: 20px 40px;
	margin-top: 0px;
}
/*
@media only screen and (min-width: 1441px) {
	#tucker-text{
		left: 235px;
		top: 200px;
	}

	#tucker-image img{
	  height: auto;
		max-height: 600px;
		width: auto;
	}
}

@media only screen and (max-width: 1024px) {
	#tucker-image img{
	  height: auto;
	  max-width: 380px;
		width: auto;
	}
}

@media only screen and (max-width: 375px) {
	#tucker-image img{
	  display: none;
	}
} */
