/* Welcome page */
#welcome-container{
	height: 100%;
  width: 100%;
	display: flex;
	position: relative;
}

#welcome-container-right{
	flex: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#welcome-container-right-top{
	flex-basis: 15%;
}

#welcome-container-right-bottom{
	background: rgb(65, 95, 87);
	position: relative;
	flex-basis: 85%;
	display: block;
}

#welcome-info-box{
	background-color: rgb(255, 255, 255);
	position: absolute;
	right: 20px;
	top: -25px;
	padding: 5px;
	height: 50px;
	width: 300px;
}

#welcome-info-box p {
	text-align: center;
	vertical-align: middle;
	font-family: 'Libre Baskerville', serif;
	font-size: 18pt;
	color: black;
	margin: 0;
	margin-top: 5px;
}


#welcome-image img{
  display: block;
	position: absolute;
	bottom: 20px;
	right: 40px;
	height: auto;
	max-height: 508px;
	width: auto;
}


/* Left side */
#welcome-container-left{
	flex: 50%;
}

#welcome-container-left-top{
	flex-basis: 15%;
}

#welcome-container-left-bottom{
	flex-basis: 85%;
}

#welcome-text{
	position: absolute;
	left: 110px;
	top: 200px;
	z-index: 1;
}

#welcome-text h1 {
	font-size: 80pt;
	font-family: 'Cabin', sans-serif;
	color: black;
}

#welcome-text h2 {
	font-size: 50pt;
	font-family: 'Libre Baskerville', serif;
	color: black;
}

#welcome-text span {
	font-size: 80pt;
	font-family: 'Varela Round', sans-serif;
	color: black;
}

@media only screen and (min-width: 701px) and (max-width: 1019px) {
	#welcome-container-right-bottom{
		display: flex;
		justify-content: center;
	}
	#welcome-image{
		justify-content: center;
		align-items: center;
		flex-direction: column;
		display: flex;
	}
	#welcome-image img{
		position: static;
		bottom: 0px;
		right: 0px;
		max-height: 350px;
	}
	#welcome-container-left-bottom{
		justify-content: center;
		align-items: center;
		flex-direction: column;
		display: flex;
		height: 100%;
	}

	#welcome-text h1{ font-size: 40px; }
	#welcome-text span{ font-size: 40px; }
	#welcome-text h2{ font-size: 35px; }

	#welcome-text{
	position: static;
	left: 0px;
	top: 0px;
	z-index: 0;
	}
}

@media only screen and (min-width: 1441px) {
	#welcome-text{
		left: 235px;
		top: 200px;
	}

	#welcome-image img{
	  height: auto;
		max-height: 600px;
		width: auto;
	}
}

/* @media only screen and (max-width: 1024px) {
	#welcome-image img{
	  height: auto;
	  max-width: 380px;
		width: auto;
	}
} */
